<% unless comment.archived? %>
  <p>
    <strong>Author:</strong>
    <%= comment.author.email %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <p>
  <% if policy(comment).destroy? %>
    <%= link_to "Destroy Comment", [comment.car, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?" } %>
      </p>
  <% end %>
<% end %>
