<h1>My CARS</h1>
<%= link_to "New Car", new_car_path, class: "btn btn-success" %>
<br/>
<p class="fw-light">Found <%= @user_cars.size %> cars.</p>

<ul>
  <% @user_cars.each do |car| %>
      <li>
        <%= link_to car.name, car %> <%= "archived" if car.archived? %>
      </li>
  <% end %>
</ul>