<h1>CARS</h1>
<%= link_to "New Car", new_car_path, class: "btn btn-success" %>
<br/>
<p class="fw-light">Found <%= Car.public_count %> cars.</p>


<ul>
  <% @cars.each do |car| %>
    <% unless car.archived? %>
    <li>
      <%= link_to car.name, car %>
    </li>
    <% end %>
  <% end %>
</ul>


